body{
    background-color: whitesmoke;
}
/* -------------------NavBar--------------------------*/
.navbar {
    background-color: #2a2a2a; 
}
.navbar .form-control {
    border-radius: 0;
    border-color: #666666;
}

.navbar .btn {
    color: #ffffff;
    background-color: #0e256a;
    border-color: #0e256a;
}

.navbar .btn:hover {
    background-color: #0e256a;
    border-color: #0e256a;
}
.navbar .nav-link.active {
    background-color: #0e256a;
    color: white;
}

.navbar .nav-link:hover {
    background-color: #0e256a;
    color: white;
}

.navbar .nav-link, .navbar .navbar-brand {
    color: white;
    font-size: 1.25rem;
}

.navbar .nav-link:hover, .navbar .navbar-brand:hover {
    color: white;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%2855,55,55, 0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.form-control {
    margin-left: 100px; /* Pushes the form to the right */
    float: left;
    padding-right: 0%;

}

